.team-wrap {
  border: 4px double #2ea943;
  margin: 1em;
  padding: 1em;
  width: 15em;
  min-height: 11em;
  border-radius: 16px;
  display: inline-block;
}

.teams-wrap {
  max-width: 80em;
  display: table;
  margin: 0 auto;
}

.negative-margin {
  margin-top: -6.5em;
  font-weight: bold;
}

.team-wrap:hover {
  transform: scale(1.15);
}

.team-logo {
  background-repeat: no-repeat;
  position: relative;
  left: 9em;
  top: -0.5em;
  object-fit: contain;
  display: inline-block;
}

.truncate {
  width: 215px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
