<input type="text" class="search-input" placeholder = "min 2 letters" autocomplete="off"
[(ngModel)]="search" name="search" (ngModelChange)="searchTeams()">
<p *ngIf="search?.length>maxSearchString" class="error-input">Search text too long</p>
<div class="teams-wrap" *ngIf="!search">
  <div class="team-wrap" *ngFor="let team of teams">
    <div>Team id: {{team.id}}</div>
    <div>Abbreviation: {{team.abbreviation}}</div>
    <div>City: {{team.city}}</div>
    <div>Conference: {{team.conference}}</div>
    <div>Division: {{team.division}}</div>
    <div>FullName: {{team.full_name}}</div>
    <div>Name: {{team.name}}</div>
  </div>
</div>
<div *ngIf="search" class="error-input">API does not support team search yet</div>
