.game-wrap {
  border: 4px double #2ea943;
  margin: 1em;
  padding: 1em;
  width: 15em;
  min-height: 11em;
  border-radius: 16px;
  display: inline-block;
}

.games-wrap {
  max-width: 80em;
  display: table;
  margin: 0 auto;
}



.chosen::selection {
  background-color: #5abb3c;
  color: white;
}

.truncate {
  width: 215px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.truncate::selection {
  background-color: #5abb3c;
  color: white;
}
